@keyframes rotation {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes appearFromRightProject {
  0% {
    left: 30px;
    opacity: 0;
  }
  100% {
    left: 0px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.hiddenToLeft {
  #project-container {
    transform: translateX(-232px);

    .project-icon {
      transform: translateX(+232px);
    }
  }

  main {
    width: calc(100% + 200px);
    transform: translateX(-232px);
  }
}
