@import "reset";
@import "config";
@import "buttons";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}
body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.25;
}

#content {
  display: grid;
  height: 100%;
  grid-template-rows: 60px auto;
  grid-template-columns: 180px auto 400px;
  grid-template-areas:
    "header header header"
    "projects main todo-misc";
}

header {
  grid-area: header;
  /*height: 60px;*/
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  background: $header-bg-color;
  color: $header-font-color;
  font-size: 1.5em;
  font-weight: 900;
  padding: 0;
  width: 100%;
}

main {
  grid-area: main;
  background: $main-bg-color;
}
#project-container {
  grid-area: projects;
  background: $project-container-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  #project-list {
    width: 150px;

    .project {
      margin: 10px;
      padding: 10px;
      border-radius: 5px;

      &.active {
        background: rgb(206, 255, 187);
        font-weight: 900;
      }
      &:not(.active):hover {
        background: rgb(230, 255, 220);
        cursor: pointer;
      }
      .project-icon {
        margin-right: 10px;
      }

      .count-todos {
        margin-left: 5px;
        font-size: 0.8em;
        font-weight: 900;
      }
    }
  }
  #new-project-form {
    position: relative;

    #new-project {
      border: 0;
      border-bottom: 2px solid grey;
      width: 150px;
      padding: 10px;
      margin-bottom: 10px;
      outline: 0;
      font-size: 1em;
      color: #444;
      padding: 7px 0;
      background: transparent;
      transition: border-color 0.2s;
    }
  }
}

#todo-misc-container {
  grid-area: todo-misc;
  background: $todo-misc-container-bg-color;
}
