@import "reset";
@import "config";
@import "animation";

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  user-select: none;
}
body,
html {
  height: 100%;
  margin: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  line-height: 1.25;
}

#content {
  display: grid;
  height: 100%;
  grid-template-rows: 60px auto;
  grid-template-columns: 300px auto 400px;
  grid-template-areas:
    "header header header"
    "projects main todo-misc";
}

header {
  grid-area: header;
  /*height: 60px;*/
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  background: $header-bg-color;
  color: $header-font-color;
  font-size: 1.5em;
  font-weight: 900;
  padding: 0;
  width: 100%;
}

main {
  grid-area: main;
  background: $main-bg-color;
}
#project-container {
  grid-area: projects;
  background: $project-container-bg-color;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  #project-list {
    width: 280px;
    max-width: 280px;

    .project {
      margin: 10px;
      padding: 10px;
      border-radius: 5px;
      display: flex;
      align-items: center;
      justify-content: flex-start;
      word-wrap: break-word;
      white-space: normal;
      overflow: hidden;

      &.active {
        color: $project-active-font-color;
        font-weight: 900;
      }
      &:not(.active):hover {
        background: $project-container-bg-color;
        cursor: pointer;
      }
      .project-icon {
        margin-right: 5px;
        font-size: 24px;
      }

      .count-todos {
        margin-left: 5px;
        font-size: 0.8em;
        font-weight: 900;
      }

      .project-name {
        width: 180px;
        max-width: 180px;
      }
    }
  }

  #new-project-form {
    width: 250px;
    max-width: 280px;
    position: relative;
    margin-left: 15px;
    margin-right: 0;

    #new-project {
      border: 0;
      border-bottom: 2px solid $project-form-inactive-color;
      margin-left: 10px;
      margin-right: -3px;
      padding: 9px 0;
      outline: 0;
      font-size: 1em;
      color: $project-form-inactive-color;
      background: transparent;

      &:focus {
        color: $project-form-font-color;
        border-bottom: 2px solid $project-form-border-color;
        &::placeholder {
          color: $project-form-font-color;
        }
      }
    }

    #submit-project {
      background: $project-container-bg-color;
      display: inline-block;
      border: none;
      position: relative;
      top: 10px;
      text-decoration: none;
      font-size: 24px;
      color: $project-form-inactive-color;
      cursor: pointer;
      text-align: center;
      padding: 6px;

      &:focus {
        outline: none;
      }

      &::after {
        content: "";
        position: absolute;
        z-index: 0;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        box-sizing: border-box;
        border: 4px dashed $project-container-bg-color;
        border-radius: 50%;
      }
      &:hover {
        color: $project-form-font-color;
        &::after {
          border: 4px dashed $project-form-border-color;
          animation: rotation 7s linear infinite;
        }
      }
    }
  }
}

#todo-misc-container {
  grid-area: todo-misc;
  background: $todo-misc-container-bg-color;
}
